
.footer-area {
    background: #F8F9FA;
    border: 1px solid #ddd;
    padding: 30px;
}
.footer{
    text-align: center;
}
.footer p{
    margin: 0;
}

.product-item{
    background: #dcf4fc;
    padding: 20px;
}

.category-child{
    padding-left: 15px;
    border-left: 1px solid gray;
    background: #fff;
}
.category-child a.list-group-item{
    border-left: 0px !important;

}

.list-group-item.active{
    z-index: 2;
    color: #fff;
    background-color: #02aadd;
    border-color: #02aadd;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}